:root {
  --blue: #00acdc;
}

html {
  font-family: Roboto, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.header__wrapper {
  background-color: #fff;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.2s ease-in-out;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 ;
}

.header__logo-link {
  display: flex;
  align-items: center;
}

.header__logo-img {
  width: 40px;
  height: 40px;
}

.header__nav {
  display: flex;
  margin-left: auto;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  margin-right: 20px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 60px;
  font-size: 12px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  position: relative;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-inline: 50px;
}

.nav__link::after {
  content: '';
  background-color: var(--blue);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  border-radius: 5px;
  transition: width 0.2s ease-in-out;
  width: 0;
}

.nav__link:hover {
  color: var(--blue);
}

.nav__link.is-active::after {
  width: 37px;
}

.is-active {
  color: var(--blue);
}

.nav__link[data-qa='hover']:hover::after {
  width: 37px;
}

@media (max-width: 1024px) {
  .header__wrapper {
    padding: 0 30px;
  }
}

